@using  Project.Web.Mvc4

@{
   
        ViewBag.Title = Project.Web.Mvc4.Helpers.GlobalResource.HomePageTitle;
   
}

@section featured {
    <section class="featured_sl">
    </section>
}
<div id="dynamic_content">
    @Project.Web.Mvc4.Helpers.GlobalResource.HomePageDescription
</div>
