@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


<div id="example" class="k-content">
    <div class="demo-section">

        <div id="treeview-left"></div>

        <div id="treeview-right"></div>
    </div>

    <script>
        $("#treeview-left").kendoTreeView({
            dragAndDrop: true,
            dataSource: [
                {
                    text: "Furniture", expanded: true, items: [
                      { text: "Tables & Chairs" },
                      { text: "Sofas" },
                      { text: "Occasional Furniture" }
                    ]
                },
                {
                    text: "Decor", items: [
                      { text: "Bed Linen" },
                      { text: "Curtains & Blinds" },
                      { text: "Carpets" }
                    ]
                }
            ]
        });

        function getTreeDataSource() {
            var result = {};
            result.transport = {
                read: {
                    url:  "@Url.Action("Tree")",
                    dataType: "jsonp"
                }
            };
            result.schema= {
                model: {
                        id: "Id",
                        hasChildren: "HasEmployees"
                }
            };
        }
    </script>
    
</div>
