<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="HrisConnectionString"
         connectionString="Data Source=tfs-data; Initial Catalog=hris22; Trusted_Connection=true;" />
    <!--<add name="SqlServerConnectionString" connectionString="Data Source=tfs-data; Initial Catalog=hris21; Trusted_Connection=true;" />-->

    <!--<add name="SqlServerConnectionString" connectionString="Data Source=.\sqlexpress; Initial Catalog=hr1; Trusted_Connection=true;" />-->
    <!--<add name="SqlServerConnectionString" connectionString="Data Source=MOHAMMAD-ALSAAD;Initial Catalog=HR;Integrated Security=True" />-->


    <add name="TestSqlServerConnectionString"
         connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=ModelFinal; Trusted_Connection=true;" />
    <!--<add name="OracleConnectionString" connectionString="user id=HumanResources;data source=erp;password=HumanResources" />-->
  </connectionStrings>
</configuration>