<div id="c2c"></div>
<script>
    createWorkflow($("#c2c"), 8, create, accept, reject/*, pending*/);

    function create() {
        alert("hahah create");
    }
    function accept() {
        alert("hahah accept");
    }
    function reject() {
        alert("hahah reject");
    }
    function pending() {
        alert("hahah pending");
    }
    
</script>
