<script src="~/Scripts/Workflow.js" type="text/javascript"></script>

<div id="WorkflowTreeWindow">
    <div class="tree-window">
        <div class="obj-tree">
        </div>
    </div>
</div>

<div id="EditWorkflowWindow">
    
</div>

<script src="~/Scripts/ActionPlan.js" type="text/javascript"></script>

<div id="ActionPlanTrackingWindow">
    
</div>