@{
    ViewBag.Title = "ApprovalService";
}


<script src="~/Scripts/ActionPlan.js">
</script>

<script type="text/javascript">

    $(document).ready(function evaluationService() {
        initApprovalControls();
    });
   

</script>

<div id="test"></div>

<div id="ApprovalWorkflow">


        <!--    <div id="EvaluatorName">
        Evaluator Name
    </div>

  <div id="EvaluatorPosition">
        Positions
        <span>
            <select id="PositionsSelect">
                <option>P1</option>
                <option>P2</option>
                <option>P3</option>
            </select>
        </span>
    </div> -->
        <div id="Phases">
            Approval periods
            <span>
                <select id="PhasesSelect">
                </select>
            </span>
        </div>

        <br />

        <div id="Objectives">

            <div id="Grid">
            </div>

        </div>

    </div>
