<div id="breadcrumbContainer">
    <div id="breadcrumb"></div>
</div>
<div class="top_search">
    <form action="#" method="post">
        <ul id="search_box">
            <li>
                <input name="" type="text" class="search_input" id="suggest1" placeholder="Search">
            </li>
            <li>
                <input name="" type="submit" value="" class="search_btn">
            </li>
        </ul>
    </form>
</div>